<section class="spotlight">
  <div class="image">
    {% include histogram_of_the_release_dates.html %}
  </div>
  <div class="content-wrap">

    <div class="content">
      <div style="text-align: left">
        <h1>EDA and Spatio-temporal analysis</h1>
        <p>To get more insights and understand trends, we are interested in how the features that generally lead to a successful movie, evolve over time and if they change depending on the country.</p>
        <p>We start by visualizing the distribution of movie releases through the years.</p>
        <p>The oldest movie from the dataset was released in 1888, and the most recent is from 2016. However, from the histogram, we can observe that a large proportion of our dataset contains movies released after 1990. This drastic increase in the amount of movies produced in the past 40 years is most likely caused by recent technological advancements, which enabled the movie industry to become ubiquitous. Due to this, we expect the result from this period to be a better representation of the real world, when conducting the temporal analysis.</p>
      </div>
    </div>

  </div>

</section>
<section class="spotlight">
  <div class="image">
    {% include histogram_of_the_weighted_ratings.html %}
  </div>
  <div class="content-wrap">

    <div class="content">
      <div style="text-align: left">
        <h1>What is a successful movie?</h1>
          <p>As explained previously, we think that the weighted rating is a more meaningful measurement of success that the average rating, as it considers the rating, but also the number of votes.</p>
          <p>For this reason, in this analysis, we decided to consider that a movie is successful if its weighted rating is above a certain threshold. The value for this threshold was determined so that 5% of our dataset are successful movies. Thus, we chose a threshold of 6.61, which corresponds to 3290 movies.</p>
      </div>
    </div>

  </div>

</section>
<section class="spotlight">
  <div class="image">
    {% include evolution_of_average_rating_over_time.html %}
  </div>
  <div class="content-wrap">

    <div class="content">
      <div style="text-align: left">
        <h1>How are the features defining a successful movie evolving over time?</h1>
        <p>In order to observe how the characteristics of a successful movie are changing over the years, we made comparisons of the features from the overall dataset, that includes successful and non-successful movies, with features from the successful movies only.</p>
        <p>Before starting this analysis, we observed that the average rating has decreased in the recent years.</p>
        <p>This can be due to people becoming more critical as the amount of released movies is increasing, so there are more movies to compare to. Another reason could be that only the most famous and appreciated movies are referenced for the first decades, while now we have statistics about almost every existing movie.</p>
      </div>
    </div>

  </div>

</section>
<section class="spotlight">
  <div class="image">
    {% include evolution_of_the_proportion_of_successful_movies_per_genre.html %}
  </div>
  <div class="content-wrap">

    <div class="content">
      <div style="text-align: left">
        <h1>Are most successful genres changing over time?</h1>
        <p>For the most descriptive genres determined during the feature analysis part of our project, we want to analyze how their contribution to the success of movies evolve over the years. With this in mind, we calculate the proportion of successful movies over time, for each of these genres. More precisely, for every decade, we compute the number of successful movies divided by the total number of movies for a certain genre.</p>
        <p>We can see that for each of these most descriptive genres, except Comedy and Action, the proportion of successful movies is above the general proportion, which is computed including all the genres. In particular, Adventure, Animation and Mystery are among the successful genres nowadays.</p>
      </div>
    </div>

  </div>

</section>
<section class="spotlight">
  <div class="image">
    {% include average_box_office_per_month.html %}
  </div>
  <div class="content-wrap">

    <div class="content">
      <div style="text-align: left">
        <h1>Can the box office be predicted from the month a movie was made in?</h1>
        <p>Then, we are wondering if the month a movie is released in, can influence its success. To answer this question, we plot the average box office received for the movies in each month of the year.</p>
        <p>On average, the box office is the highest for movies released in June and July. It can be due to people going to cinema more often during the summer holidays.</p>
      </div>
    </div>

  </div>

</section>

<section class="spotlight">
  <div class="image">
    {% include evolution_of_budget_over_time.html %}
  </div>
  <div class="content-wrap">

    <div class="content">
      <div style="text-align: left">
        <h1>Does a difference in the budget influence the success of a movie?</h1>
        <p>Another production feature we are interested in, is the budget used for the movie. For this, we compare the average budget, computed over all movies, with the average budget that successful movies are allocating.</p>
        <p>Since mean and standard deviation are not robust to outliers/extreme values, we decided to use the median, with the interquartile range between 40% and 60% as the error bar. From the comparison between the overall dataset and the one containing only successful movies, we can observe that a higher budget might lead to a successful movie.</p>
      </div>
    </div>

  </div>

</section>
